*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}
html,body{
    height: 100%;
    width: 100%;
}
.main{
    width: 100%;
    height: 100vh;

}
.back{
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0);

}
.back img{
    width: 100%;
    height: 100vh;
}
.top{
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}
.work{
    margin: 0 auto;
    width: 80%;
    height: 100vh;
    max-width: 1400px;
    
}
.top .work .nav h1{
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}